{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/tabComponent.njk" import tabComponent %}
{% from "components/caseDetailsHeaderComponent.njk" import caseDetailsHeaderComponent %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "components/alertBannerComponent.njk" import alertBannerComponent %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% block backLink %}
  {{ govukBackLink({
    text: t('common.backToAllCases'),
    href: "/cases/" + client.caseStatus,
    classes: "govuk-!-margin-bottom-0"
  }) }}
{% endblock %}

{% set tabMap = {
  "client_details": "pages.caseDetails.tabs.clientDetails",
  "case_details": "pages.caseDetails.tabs.caseDetails",
  "financial_eligibility": "pages.caseDetails.tabs.financialEligibility",
  "history": "pages.caseDetails.tabs.history"
} %}

{% block pageTitle %}
  {{ t(tabMap[activeTab]) }} - {{ config.SERVICE_NAME }} – GOV.UK
{% endblock %}

{% block errorSummaryOrAlert %}
{% if noChangeWarningBanner %}
  <div class="govuk-grid-row negative-margin alert-spacing">
    <div class="govuk-grid-column-two-thirds">
      {{ mojAlert({
            variant: t('common.noChangeWarning.variant'),
            title: t('common.noChangeWarning.title'),
            dismissible: t('common.noChangeWarning.dismissible'),
            focusOnDismissSelector: '.moj-header'
          }) }}
    </div>
  </div>
{% endif %}

{% if disputedFieldsResetBanner and disputedFieldsResetBanner.type === 'added' %}
  <div class="govuk-grid-row negative-margin alert-spacing">
    <div class="govuk-grid-column-two-thirds">
      {{ mojAlert({
        variant: t('common.disputedFieldsReset.added.variant'),
        title: t('common.disputedFieldsReset.title'),
        html: t('common.disputedFieldsReset.added.body', { url: '/cases/' + caseReference + '/financial-eligibility/' } ),
        showTitleAsHeading: true,
        dismissible: true,
        focusOnDismissSelector: '.moj-header'
      }) }}
    </div>
  </div>
{% endif %}

{% if disputedFieldsResetBanner and disputedFieldsResetBanner.type === 'removed' %}
  <div class="govuk-grid-row negative-margin alert-spacing">
    <div class="govuk-grid-column-two-thirds">
      {{ mojAlert({
        variant: t('common.disputedFieldsReset.removed.variant'),
        title: t('common.disputedFieldsReset.title'),
        showTitleAsHeading: true,
        text: t('common.disputedFieldsReset.removed.body'),
        dismissible: true,
        focusOnDismissSelector: '.moj-header'
      }) }}
    </div>
  </div>
{% endif %}

{# Container for real-time viewer alert - populated by Socket.IO client #}
<div class="govuk-grid-row mcc-alert-summary" id="case-viewer-alert-row" hidden>
  <div class="govuk-grid-column-two-thirds mcc-error-banner" id="case-viewer-alert-column" hidden>
    <div id="case-viewer-alert" class="govuk-!-margin-bottom-4" hidden>
      {# JS will update the title #}
      {{ mojAlert({
          variant: "warning",
          title: "",
          showTitleAsHeading: true,
          text: "",
          dismissible: false
        }) }}
    </div>

    {# Hidden data attributes for Socket.IO client #}
    <div data-case-reference="{{ caseReference }}" data-session-id="{{ sessionID }}" data-user-name="{{ userName }}" data-has-error="{{ 'true' if error else 'false' }}" hidden></div>
  </div>
</div>

{% if error %}
  {{ errorSummary(error.errorSummaryList) }}
{% else %}
  {{ alertBannerComponent(client) }}
{% endif %}
{% endblock %}

{% block pageContent %}
{{ caseDetailsHeaderComponent(client) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ tabComponent({
        activeTab: activeTab,
        containerId: "cases-tab-container",
        data: client,
        combinedHistoryAndCaseLogNotes: combinedHistoryAndCaseLogNotes,
        diversityData: diversityData,
        moreThanOneCategory: moreThanOneCategory, 
        showClientSupportNeeds: showClientSupportNeeds,
        history: history,
        pagination: pagination,
        timelineItems: timelineItems,
        csrfToken: csrfToken,
        maxProviderNoteLength: maxProviderNoteLength,
        characterThreshold: characterThreshold,
        currentProviderNote: currentProviderNote,
        caseReference: caseReference,
        financialEligibility: financialEligibility,
        error: error,
        tabs: [
          {
            id: "client_details",
            text: t('pages.caseDetails.tabs.clientDetails'),
            href: "/cases/" + caseReference + "/client-details",
            partial: "case_details/_client-details-partial.njk"
          },
          {
            id: "case_details",
            text: t('pages.caseDetails.tabs.caseDetails'),
            href: "/cases/" + caseReference + "/case-details",
            partial: "case_details/_case-details-partial.njk"
          },
          {
            id: "financial_eligibility",
            text: t('pages.caseDetails.tabs.financialEligibility'),
            href: "/cases/" + caseReference + "/financial-eligibility/",
            partial: "case_details/_financial-eligibility-partial.njk"
          },
          {
            id: "history",
            text: t('pages.caseDetails.tabs.history'),
            href:"/cases/" + caseReference + "/history",
            partial: "case_details/_history-partial.njk"
          }
        ]
      }) }}
  </div>
</div>
{% endblock %}